<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info</title>
  </head>
  <body>

    <div>
      <H1>Name:</H1>
      <h2>{{names}}</h2>
      <H1>School:</H1>
      <h2>{{schools}}</h2>
      <H1>Studing Class:</H1>
      <h2>{{classs}}</h2>
      <H1>Cast:</H1>
      <h2>{{casts}}</h2>
      <H1>Father's Name:</H1>
      <h2>{{fathers}}</h2>
      <H1>Mother's name:</H1>
      <h2>{{mothers}}</h2>
      <H1>Fees paid:</H1>
      <h2>{{feess}}</h2>

    </div>
  </body>
</html>